h1,
h2,
h3 {
  font-weight: 400;
  font-family: "Tangerine", serif;
  font-stretch: normal;
  padding-left: 5%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
nav {
  border: 1px;
  background-color: rgb(231, 123, 7);
  color: white;
  padding: 6px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
footer {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 1px;
  text-align: center;
  color: white;
  background-color: DarkSalmon;
}
body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 99%;
  padding: 12px;
  border: 2px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  background-color: #eae8e3;
  box-shadow: 0 0 15px 4px rgba(13, 208, 127, 0.06);
}

.container {
  border-radius: 5px;
  background-color: #c5b394;
  padding: 20px;
}
.fbimg {
  width: 20px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}